.total {
	font-size: 1.4rem;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.cart-items {
	max-height: 20rem;
	overflow-y: scroll;
}

.actions {
    text-align: right;
}

.button,
.button--alt {
	background-color: #7f2607;
	border: 1px solid #7f2607;
	border-radius: 25px;
	padding: 0.25rem 2rem 0.35rem;
	color: #fff;
	font-size: 1rem;
    margin-left: 1rem;
    text-align: center;  
	cursor: pointer;  
}

.actions button:hover,
.actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
}

.button--alt {
	background-color: #fff;
	color: #7f2607;
}