.item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #7f2607;
	padding: 1rem 0;
}

.price {
	color: #7f2607;
	font-weight: bold;
	display: inline-block;
	margin: 1rem 1rem 0 0;
}

.amount {
	display: inline-flex;
	justify-content: space-between;
	align-items: baseline;
	font-size: 0.9rem;
	font-weight: bold;
	border: 1px solid #efefef;
	border-radius: 5px;
	padding: 2px 4px;
}

.cross {
	font-size: 0.7rem;
	padding-right: 2px;
	vertical-align: -3px;
}

.actions {
	display: flex;
    flex-direction: column;
}

.actions button {
	align-self: flex-end;
	border: 1px solid #7f2607;
	background-color: transparent;
	color: #7f2607;
	padding-bottom: 5px;
	border-radius: 5px;
	font-size: 1.3rem;
    font-weight: bold;
	cursor: pointer;
	margin: 0.25rem;
    width: 2.5rem;
    transition: all 0.3s ease-out;
}

.actions button:hover{
    background-color: #7f2607;
    color: #fff;
}

@media (min-width: 768px) {
    .actions {
        flex-direction: row;
    }
}

  .cart-item button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: #8a2b06;
    border: 1px solid #8a2b06;
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
    margin: 0.25rem;
  }
  
  .cart-item button:hover,
  .cart-item button:active {
    background-color: #8a2b06;
    color: white;
  }
