@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');
:root {
  --primary-color: hsl(276, 98%, 18%);
  --medium-light-darker-of-primary: hsl(276, 45%, 45%);
  --medium-light-of-primary: hsl(276, 45%, 55%);
  --light-of-primary: hsl(276, 58%, 72%);
  --xlight-of-primary: hsl(276, 83%, 95%);
  --dark-shadow-color: hsla(0, 0%, 0%, 0.2);
}

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, body {  
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Lato', 'sans-serif', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

