.label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input {
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: var(--xlight-of-primary);
    padding: 0.25rem;
    border: none;
    font-size: inherit;
    min-height: 2rem;
}

.input:focus {
    background-color: var(--xlight-of-primary);
}